html {
	height: 100%;
}

body {
	background: #248f87 url(static/background.png) no-repeat center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.business-name:hover {
	cursor: pointer;
}

.establishment-attribute-name {
	color: white;
	font-weight: bold;
}

.establishment-page-container {
	display: flex;
	flex-direction: column;
	justify-content: left;
	justify-items: start;
	margin: 20px;
}
